@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

.color-kema-fish {
    color: #00417C;
}

/* *{
    border: 1px solid red;
} */